NODE_ENV=development
PORT=3001

#Database - Prisma URL 
DATABASE_URL=postgresql://marsh_local:Marsh@123@order-settlement-db:5432/postgres?schema=public

#CORS
ALLOWED_ORIGINS="http://localhost:7103,http://order-settlement-frontend:3000"