NODE_ENV=development

#Database
POSTGRES_HOST=172.18.0.1
POSTGRES_PORT=7010
POSTGRES_DB=order_settlement_db
POSTGRES_USER=marsh_local
POSTGRES_PASSWORD="Marsh@123"

#Cache
REDIS_HOST=172.18.0.1
REDIS_PORT=7014
REDIS_USER=marsh_local
REDIS_PASSWORD=secret